<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Apedic_Inventory::stock_movement" title="Stock" module="Apedic_Inventory"
             resource="Magento_Backend::content" parent="Magento_Catalog::inventory" action="apedic/inventory/index"/>
    </menu>
</config>
